# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# Angular cache
.angular/cache

# Environment files
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
*.log

# Test results
e2e/test-results/
coverage/
